PLAYWRIGHT_BASE_URL=http://127.0.0.1:8000

PW_PUSKESMAS_USERNAME=your_puskesmas_username
PW_PUSKESMAS_PASSWORD=your_puskesmas_password

PW_GUDANG_USERNAME=your_gudang_username
PW_GUDANG_PASSWORD=your_gudang_password

PW_KEPALA_USERNAME=your_kepala_username
PW_KEPALA_PASSWORD=your_kepala_password

PW_ADMIN_UMUM_USERNAME=your_admin_umum_username
PW_ADMIN_UMUM_PASSWORD=your_admin_umum_password

PW_AUDITOR_USERNAME=your_auditor_username
PW_AUDITOR_PASSWORD=your_auditor_password

PW_ADMIN_USERNAME=your_admin_username
PW_ADMIN_PASSWORD=your_admin_password
